.nav_seller{
    background-color: #5c9927;
    position: absolute;
    width: 200px !important;
    top: 180%;
    left: 26%;
}

.nav_seller ul{
    display: flex;
    flex-direction: column;
}

.nav_seller ul li{
    margin-bottom: 10px;
    transition: .5s ease;
    padding: .5rem;
    border-radius: 5px;
    font-size: .9rem;
    display: flex;
    align-items: center;
}

.nav_seller ul li:hover{
    background-color: #e21744;
}
