.logo{
    width: 120px;
    cursor: pointer;
}

.container_header{
    background-color: #000;
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0px;
    border-bottom: 2px solid white;
    z-index: 9999;
}

.container_navigation{
    margin: 0 auto;
    max-width: 1220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation{
    width: 35%;
}

.navigation ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.navigation ul li span{
    color: white;
    font-size: 1rem;
}


.form_input{
    width: 14%;
    position: relative;
    right: 100px;
}

.input_search{
    width: 250%;
    border-radius: 20px;
    border: none;
    padding: .3rem;
    outline: none;
    transition: .5s ease-in-out;
}
.input_search:hover, .input_search:focus{
    outline: 3px solid #e21744;
    transform: scale(1.1);
}

.input_search::placeholder{
    color: #e21744;
    font-style: italic;
}

.box_list_myAccount{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-bottom: 1px solid #e21744;
    transition: .5s ease-in-out;
}

.box_list_myAccount:hover span{
    color: #e21744;
}

/*SEGUNDA PARTE DA NAVEGAÇÃO DA HEADER*/
.box_navigation{
    padding-top: 110px;
    background-color: #000;
    background-repeat: no-repeat;
    width: 100%;
}

.box_navigation nav{
     padding: 1.1rem;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.box_navigation nav ul{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.box_navigation nav ul li{
    cursor: pointer;
}

.box_collabs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box_collabs .icon{
    transform: rotate(180deg);
    transition: .5s ease;
}

.box_collabs:hover .icon{
    transform: rotate(360deg);
}

.box_slide{
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MODAL CONTATO */
.container_slide{
    top: 9rem;
    z-index: 9;
    max-width: 1100px;
    width: 1200px;
    height: 450px;
    position: fixed;
    color: black;
    background-color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 5px 10px 0px #363636;
    animation: fadeIn .4s forwards;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translate3d(20px, 0px, 0px);
    }
    to{
        opacity: 1;
        transform: translate3d(0px, 0, 0);
    }
}

.exit_slide{
    background-color: #e21744;
    border: none;
    padding: .7rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 1px 15px 0px #363636;
    border: 1px solid rgba(0, 0, 0, 0.2);

    position: relative;
    left: 98%;
    bottom:5px;
}

.group_attendance{
    background-color: #e21744;
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0px;
    z-index: -1;
    border-radius: 5px;

    display: flex;
    align-items: center;
}

.group_attendance h2{
    margin-left: 1.5rem;
}


/* MOBILE MODAL CONTATO*/
@media(max-width: 1145px){
    .container_slide{
        width: 95%;
        margin: 0 auto;
    }
}



/* MOBILE */
@media(max-width: 1020px){
    .navigation ul li span{
        font-size: .7rem;
    }
}
@media(max-width: 840px){
    .box_navigation nav ul li{
        font-size: .7rem;
    }
}

/* MENU MOBILE */
@media(max-width: 760px){
    .box_list span, .box_list .icon{
        display: none;
    }
    .form_input{
        width: 20%;
        right: 30px;
    }
}

@media(max-width: 645px){
    .box_navigation{
        display: none;
    }
    .Logo{
        width: 100px;
    }
}